body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.skip-orange {
    color: orange;
}

.headrest-color {
    color: rgba(58, 50, 50, 0.863);
}

.resttext-color {
    color: rgba(99, 88, 88, 0.87);
}

.order-link {
    background-image: linear-gradient(to right, rgb(226, 144, 36), rgb(226, 76, 50));
    padding: 15px 30px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}

.display-flex {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    margin-left: 5%;
}



.headsize {
    font-size: 33px;
    color: rgba(92, 85, 85, 0.884);
}

.banner {
    background-color: rgba(233, 230, 217, 0.692);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    background-image: url(7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.position {
    text-align: center;
    padding: 0 23%;
}

.half-width img {
    width: 60%;
}

.image-text {
    padding-right: 40%;
}

.nichenaman {
    margin-bottom: 100px;
}

.exp-item {
    margin-right: 20%;
    padding-top: 20px;
    padding-left: 5%;
    box-shadow: 1px 1px 20px grey;
    border-radius: 20px;
}